@media only screen and (min-width:0px) and (max-width: 320px) {
  .home-control{
    flex-direction: column;
  }
  .flutter-hero-section{
    width: 0%;
  }
  .flutterwave-logo{
    width: 130px;
    height: auto;
  }
  .orange-create-event{
    padding: 0px !important;
    display: none;
  }
  .mobile{
    display: block !important;
    padding: 10px 10px !important;
  }
  .date-text{
    margin-top: 0px;
  }
  .home-control-picture-one, .home-control-picture-two, .home-control-picture-three{
    margin-bottom: 1.2em;
  }
  .ticket-not-gotten{
    display: none;
  }
  .hero-section-container{
    justify-content: space-between !important;
    flex-direction: row;
    margin: 3% 5% !important;

  }
  .flutter-picture-one, .flutter-picture-two, .flutter-picture-three{
    width: 100%;
  }
  .flutter-buttons{
    margin-top: 0em !important;
  }
  .container {
    padding: 0.1rem 0rem !important;
  }
  .event-control-alpha{
    width: 100% !important;
    margin: 0 5%;
  }
  .event-control-beta{
    width: 100% !important;
    height: 50vw !important;
    margin: 35px 20px !important;
  }
  .location-event-control-alpha{
    width: 100% !important;
    /* margin-left: 7%; */
    margin: 0 5%;
  }
  .location-event-control-beta{
    margin: 0 5%;
  }
  .copyright-flutter{
    margin: 0 12% !important;
  }
  .conditions-list {
    margin-top: 0 !important;
  }
  .footer-control{
    margin-top: 3em;
  }
  .nathan-cole-header{
    font-size: 32px !important;
    line-height: 36px !important;
  }

}
/*< XS END*/

/*< XS*/
@media only screen and (min-width: 321px) and (max-width: 575px) {
  .ticket-not-gotten{
    display: none;
  }
  .home-control{
    flex-direction: column;
  }
  .flutter-hero-section{
    width: 0%;
  }
  .flutterwave-logo{
    width: 130px;
    height: auto;
  }
  .orange-create-event{
    padding: 0px !important;
    display: none;
  }
  .mobile{
    display: block !important;
    padding: 10px 20px !important;
  }
  .date-text{
    margin-top: 0px;
  }
  .home-control-picture-one, .home-control-picture-two, .home-control-picture-three{
    margin-bottom: 1.2em;
  }
  .ticket-not-gotten{
    display: none;
  }
  .hero-section-container{
    justify-content: space-between !important;
    flex-direction: row;
    margin: 3% 5% !important;

  }
  .flutter-picture-one, .flutter-picture-two, .flutter-picture-three{
    width: 100%;
  }
  .flutter-buttons{
    margin-top: 0em !important;
  }
  .container {
    padding: 0.1rem 0rem !important;
  }
  .event-control-alpha{
    width: 100% !important;
    margin: 0 5%;
  }
  .event-control-beta{
    width: 100% !important;
    height: 50vw !important;
    margin: 35px 20px !important;
  }
  .location-event-control-alpha{
    width: 100% !important;
    /* margin-left: 7%; */
    margin: 0 5%;
  }
  .location-event-control-beta{
    margin: 0 5%;
  }
  .copyright-flutter{
    margin: 0 12% !important;
  }
  .conditions-list {
    margin-top: 0 !important;
  }
  .footer-control{
    margin-top: 3em;
  }
  .nathan-cole-header{
    font-size: 32px !important;
    line-height: 36px !important;
  }



}
/*< XS END*/

/*< SM*/
@media only screen and (min-width: 576px) and (max-width: 767px){
  .ticket-not-gotten{
    display: none;
  }
  .home-control{
    flex-direction: column;
  }
  .flutter-hero-section{
    width: 0%;
  }
  .flutterwave-logo{
    width: 130px;
    height: auto;
  }
  .orange-create-event{
    padding: 0px !important;
    display: none;
  }
  .mobile{
    display: block !important;
    padding: 10px 20px !important;
  }
  .date-text{
    margin-top: 0px;
  }
  .home-control-picture-one, .home-control-picture-two, .home-control-picture-three{
    margin-bottom: 1.2em;
  }
  .ticket-not-gotten{
    display: none;
  }
  .hero-section-container{
    justify-content: space-between !important;
    flex-direction: row;
    margin: 3% 5% !important;

  }
  .flutter-picture-one, .flutter-picture-two, .flutter-picture-three{
    width: 100%;
  }
  .flutter-buttons{
    margin-top: 0em !important;
  }
  .container {
    padding: 0.1rem 0rem !important;
  }
  .event-control-alpha{
    width: 100% !important;
    margin: 0 5%;
  }
  .event-control-beta{
    width: 100% !important;
    height: 50vw !important;
    margin: 35px 20px !important;
  }
  .location-event-control-alpha{
    width: 100% !important;
    /* margin-left: 7%; */
    margin: 0 5%;
  }
  .location-event-control-beta{
    margin: 0 5%;
  }
  .copyright-flutter{
    margin: 0 12% !important;
  }
  .conditions-list {
    margin-top: 0 !important;
  }
  .footer-control{
    margin-top: 3em;
  }
  .nathan-cole-header{
    font-size: 32px !important;
    line-height: 36px !important;
  }


}
/*< SM END*/

/*< MD*/
@media only screen and (min-width:768px) and (max-width: 991px) {
  .container {
    padding: 0.1rem 0rem !important;
  }
  .event-control-alpha{
    width: 100% !important;
    margin: 0 5%;
  }
  .event-control-beta{
    width: 100% !important;
    height: 50vw !important;
    margin: 35px 20px !important;
  }
  .location-event-control-alpha{
    width: 100% !important;
    /* margin-left: 7%; */
    margin: 0 5%;
  }
  .location-event-control-beta{
    margin: 0 5%;
  }
  .hero-section-container{
    justify-content: space-between !important;
    flex-direction: row;
    margin: 3% 5% !important;

  }
  .copyright-flutter{
    margin: 0 12% !important;
  }
  .conditions-list {
    margin-top: 0 !important;
  }
  .footer-control{
    margin-top: 3em;
  }
  .nathan-cole-header{
    font-size: 32px !important;
    line-height: 36px !important;
  }

}
/*< MD END*/

/*<LG*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {}
/*< LG END*/

/*< Special (iPad)*/
@media only screen and (min-width: 768px)  and (min-height: 992px) {
  .flutter-hero-section{
    width: 35% !important;
  }
  .home-home{
    text-align: center !important;
  }
  .home-control{
    flex-direction: row;

  }
  .container {
    padding: 0.1rem 2rem !important;
  }
  .footer-control{
    margin-top: 3em;
  }



}
/*< Special (iPad) END*/

/*< Special (iPad Pro)*/
@media only screen and (min-width: 992px)  and (min-height: 992px) {
  .flutter-hero-section{
    width: 35% !important;
  }
  .home-home{
    text-align: center !important;
  }
  .home-control{
    flex-direction: row;

  }
  .footer-control{
    margin-top: 3em;
  }


}
/*< Special (iPad Pro) END*/

/*< XL*/
@media (min-width: 1200px) { }
/*< XL END*/
